@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  h2,
  h1,
  h3,
  h4,
  h5,
  h6,
  p {
    color: white;
  }
}
#app {
  display: flex;
  flex-direction: column;
  flex-grow: auto 1fr auto;
  min-height: 100vh;
  overflow: hidden;
}
footer {
  margin-top: auto;
  height: 50px;
}
.classic-btn {
  width: 160px;
  height: 50px;
  box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
  color: #ffffff !important;
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 36px !important;
  text-transform: uppercase;
}
header {
  width: 100vw;
  // position: absolute;
  top: 0;
  background-image: url("../imgs/photo.png");
  background-size: cover;
  background-repeat: no-repeat;

  left: 0;
  height: 640px;
  .menu {
    height: 80px !important;
  }
  .infoBlock {
    height: 100%;
    .row {
      height: 100%;
      .firstblock {
        padding: 77px 8px;
        h6 {
          color: #008ed6;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1.6px;
          line-height: 20px;
          text-transform: uppercase;
        }
        h2 {
          margin-top: 19px;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 48px;
          font-weight: 600;
          line-height: 48px;
          margin-bottom: 25px;
        }
        .textHeader {
          color: #999999;
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 400;
          line-height: 26px;
          font-size: 18px;
        }
        .btns {
          margin-top: 58px;
          margin-left: 0;
          height: auto;
          .btn:first-child {
            margin-right: 20px;
          }
        }
      }
      .secondBlock {
        img {
          position: absolute;
          bottom: 0;
          left: -12px;
        }
      }
    }
  }
  .content {
    padding-top: 41px !important;
    width: 100%;
    height: 100%;
    .logo {
      margin-left: -7px;
    }
    menu {
      margin-top: 0;
      .navbar {
        margin-top: -5px;
        padding-top: 0;
        .nav-link {
          padding-top: 0;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 16px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
          text-align: right;
          color: #fffefe;
        }
        .nav-item + .nav-item {
          margin-left: 6px;
        }
        .active::after {
          content: url("../imgs/underline.png");
          position: relative;
          top: -16px;
          left: 7px;
        }
      }
    }
  }
}

.content {
  width: 1170px;
}
.logo {
  #ftext {
    letter-spacing: 1.2px;
    margin-top: -8px;
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
  }
  #secondText {
    width: 44px;
    height: 16px;
    opacity: 0.3;
    color: #ffffff;
    padding-left: 3px;
    font-size: 9px;
    font-weight: 400;
    line-height: 10px;
    text-transform: uppercase;
    /* Text style for "onepage ," */
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px !important;
  }
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding: 0 !important;
}
.smallText {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #008ed6;
  font-weight: 700;
  text-transform: uppercase;
}
main {
  .amazingF {
    padding-top: 57px !important;
    .title {
      .bigText {
        color: #1a1a1a;
        font-family: "Source Sans Pro", sans-serif;
        line-height: 1.6;
        font-size: 37px;
      }
    }
  }
  .features {
    margin-top: 75px;
    .fElements {
      .image {
        width: 88px;
        height: 88px;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        margin-bottom: 12px;
        background-color: #ffffff;
        i {
          color: #008ed6;
        }
      }
      .title {
        font-size: 23px;
        margin: 16px 0px;
        color: #1a1a1a;
      }
      .text {
        padding: 0 10px;
        line-height: 1.45;
        color: #999999;
        font-family: "Source Sans Pro";
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  .BeauOnEveryD {
    padding-top: 135px !important;
    .device {
      margin-left: 5px;
      margin-top: 2px;
      padding-left: 30px;
    }
    .info {
      padding: 0;
      padding-left: 10px;
      padding-top: 48px;
      .smallText {
        letter-spacing: 0.4px;
      }
      h2 {
        color: #1a1a1a;
        font-family: "Source Sans Pro";
        font-size: 36px;
        margin: 6px 0;
        font-weight: 600;
      }
      .lines {
        margin: 26px 0;
      }
      .text {
        width: 470px;
        line-height: 1.5;
        color: #999999;
        font-family: "Source Sans Pro";
        font-size: 18px;
        font-weight: 400;
      }
      .feaut {
        margin-top: 30px;
        .featureElInList {
          padding-left: 15px;
          margin-bottom: 15px;
          i {
            color: #008ed6;
          }
          .iconText {
            line-height: 1.2;
            margin-left: 8px;
            font-size: 18px;
            font-family: "Source Sans Pro";
          }
        }
      }
    }
  }
}
.lines {
  width: 42px;
  margin: 0 auto;
  margin-top: 26px;
  height: 2px;
  background-image: url("../imgs/underline.png");
}
.easyToCutsomize {
  margin-top: 18px;
  background-color: #f2f2f2;
  padding-top: 126px;
  padding-bottom: 162px;
  .info {
    .smallText {
      font-size: 14px;
      margin-top: 2px;
      letter-spacing: 1.4px;
    }
    h2 {
      color: #1a1a1a;
      font-family: "Source Sans Pro";
      font-size: 36px;
      margin: 8px 0;
      font-weight: 600;
    }
    .lines {
      margin: 28px 0 23px 0;
    }
    .text {
      width: 470px;
      line-height: 1.5;
      color: #999999;
      font-family: "Source Sans Pro";
      font-size: 18px;
      font-weight: 400;
    }
  }
  .image img {
    position: absolute;
    top: -92px;
    left: -14px;
  }
}
.reviews {
  background: url("../imgs/Warstwa_8.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 640px;
  padding-top: 60px;
  .tipa-content{
    .smallText{
        font-size: 17px;
    }
    h2{
        color: white;
        font-family: "Source Sans Pro";
        font-size: 36px;
        margin: 5px 0;
        font-weight: 600;
    }
    .lines{
        margin-top: 23px;
    }
    margin-bottom: 60px;
  }
  .swiper-container {
    width: 100%;
    height: calc(100% - 210px);
    .swiper-pagination-bullet{
      background-color: white;
    }
    .swiper-pagination-bullet-active{
      // padding: 7px;
    }
    .swiper-wrapper{
      padding-top: 26px !important;
      padding-right: 20px;
      .swiper-slide{
        max-width: 550px;
        margin-top: 0 !important;
        .slideText{
          color: #ffffff;
          letter-spacing: 0.3px;
          font-family: "Source Sans Pro";
          font-size: 24px;
          font-weight: 300;
          line-height: 32px;
          font-style: italic;
        }
        .slideAuthor{
          margin-top: 25px;
          margin-left: 17px;
          color: white;
          .who{
            padding-top: 3px;
            margin-left: 23px;
            .name{
              font-family: "Source Sans Pro";
              font-size: 16px;
              font-weight: 400;
            }
            .profecion{
              font-family: "Source Sans Pro";
              font-size: 14px;
              font-weight: 700;
              line-height: 2.2;
            }
          }
        }
      }
      
    }
    
  }
}
.likeGet {
  background-color: #15141a;
  padding: 58px 0;
  .container .row {
    .text {
      color: #ffffff;
      font-family: "Source Sans Pro";
      font-size: 36px;
      font-weight: 300;
      .b {
        letter-spacing: 0.5px;
        margin-right: 7px;
        font-weight: 400;
      }
    }
    .buttons{
        margin-top: 2px;
        #fBtn{
            position: absolute;
            right: 14px;
        }
        #sBtn{
            margin-left: 30px;
        }
    }
  }
}
.PricingPlans{
    padding-bottom: 57px;
    padding-top: 55px;
    .tipa-content{
        .smallText{
            font-size: 17px;
        }
        h2{
            color: #1a1a1a;
            font-family: "Source Sans Pro";
            font-size: 36px;
            margin: 5px 0;
            font-weight: 600;
        }
        .lines{
            margin-top: 23px;
        }
        margin-bottom: 70px;
    }
}
.buyContainer{
    .title{
        height: 70px;
        border: 1px solid #e0e0e0;
        h2{
            color: #1a1a1a;
            font-family: "Source Sans Pro";
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0;
            margin-top: 6px;
        }
    }
    .price{
        border: 1px solid #e0e0e0;
        border-top-width: 0px;
        border-bottom-width: 0px;
        height: 150px;
        .priceNum{

            color: #1a1a1a;
            font-family: "Source Sans Pro";
            font-size: 60px;
            font-weight: 600;
        }
        .priceNum::before{
            content: '$';
            font-size: 26px;
            position: relative;
            bottom: 21px;
            left: -1px;
        }
        .perM{
            font-family: "Source Sans Pro";
            font-weight: 400;
            line-height: 28px;
            color: #999999;
            position: relative;
            bottom: 15px;
            font-size: 18px;
        }
    }
    .info{
        border: 1px solid #e0e0e0;
        border-top-width: 0px;
        border-bottom-width: 0px;
        color: #999999;
        font-family: "Source Sans Pro";
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: center;
        padding: 48px 30px 0 30px;
        .link{
            color: #008ed6;
            cursor: pointer;
        }
    }
    .button{
        padding-top: 40px;
        border: 1px solid #e0e0e0;
        border-top-width: 0px;
        padding-bottom: 30px;
        .btn{
            color:#008ed6 !important;
            border: 1px solid #e0e0e0 !important;
        }
        .btn:hover{
            color: #fff !important;
        }
    }
    
}
.buyRecomendate{
    .title h2{
        color: #008ed6;
    }
    .price{
        background-color: #008ed6;
        .priceNum, .perM{
            color: white;
        }
    }
    .button{
        .btn{
            color:white !important;
            border: 1px solid #e0e0e0 !important;
            background: #008ed6 !important;
        }
        .btn:hover{
            color:#008ed6 !important;
            background: white !important;

        }
    }
}

.contact{
    position: relative;
    padding-top: 55px;
    background-color: #ededed;
    padding-bottom: 300px;
    .tipa-content{
        .smallText{
            font-size: 17px;
        }
        h2{
            color: #1a1a1a;
            font-family: "Source Sans Pro";
            font-size: 36px;
            margin: 5px 0;
            font-weight: 600;
        }
        .lines{
            margin-top: 23px;
        }
        margin-bottom: 60px;
    }
    .container .row{
        .contactBlock{
            .icon {
                 i{color: #008ed6;margin-bottom: 27px;}
            }
            p{
                color: #999999;
                font-family: "Source Sans Pro";
                font-size: 18px;
                font-weight: 400;
                line-height: 26px;
                margin-bottom: 0;
            }
        }
    }
    .contactForm{
        position: absolute;
        width: 100%;
        height: 431px;
        padding-top: 71px;
        .form{
            padding: 40px 0;
            width: 770px;
            height: 100%;
            margin: auto;
            background-color: #15141a;
            .container{
                padding-top: 18px !important;
                input{
                    width: 300px;
                    height: 50px;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    background-color: #008ed6;
                    padding: 15px;
                    border-radius: 5px;
                    color: #ffffff;
                    font-family: "Source Sans Pro";
                    font-size: 14px;
                    margin-bottom: 20px;
                    font-weight: 700;
                    outline: none;
                }
                textarea::placeholder, input::placeholder{
                    color: #fff;
                    font-family: "Source Sans Pro";
                    font-size: 14px;
                    font-weight: 700;
                }
                .offset-lg-2{
                    padding: 0;
                    textarea{
                        resize: none;
                        border: 1px solid rgba(255, 255, 255, 0.2);
                        background-color: #008ed6;
                        padding: 15px;
                        border-radius: 5px;
                        color: #ffffff;
                        font-family: "Source Sans Pro";
                        font-size: 14px;
                        margin-bottom: 20px;
                        font-weight: 700;
                        outline: none;
                    }
                    .btn{
                        position: absolute;
                        bottom: -45px;
                        right: 33px;

                    }
                }
            }
        }
    }
}
footer{
    height: 160px;
    background-color: #15141a;
    margin-top: -6px;
    .socialLink{
        i{
            color: white;
            transition: all 0.3s;
        }
        
    }
    .socialLink:hover{
        i{
            color: #008ed6;
        }
    }
    .socialLink + .socialLink{
        margin-left: 36px;
    }
    .copyright{
        color: #444348;
        font-family: "Source Sans Pro";
        font-size: 14px;
        font-weight: 400;
        line-height: 48px;
        text-transform: uppercase;
    }
}

