@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
body {
  margin: 0;
  padding: 0; }

#app {
  display: flex;
  flex-direction: column;
  flex-grow: auto 1fr auto;
  min-height: 100vh; }

footer {
  margin-top: auto;
  height: 50px; }

header {
  width: 100vw;
  position: absolute;
  top: 0;
  background-image: url("../imgs/photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  height: 640px; }
  header .content {
    padding-top: 41px;
    width: 100%;
    height: 100%; }

.content {
  width: 1170px; }

.logo #ftext {
  letter-spacing: 1.2px;
  margin-top: -8px;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff; }

.logo #secondText {
  width: 44px;
  height: 16px;
  opacity: 0.3;
  color: #ffffff;
  padding-left: 3px;
  font-family: "Source Sans Pro";
  font-size: 9px;
  font-weight: 400;
  line-height: 10px;
  text-transform: uppercase;
  /* Text style for "onepage ," */
  letter-spacing: 1.26px; }
